In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import sys, os, django

sys.path.append('/home/galm/software/django/tmv/BasicBrowser/')
os.environ.setdefault("DJANGO_SETTINGS_MODULE", "BasicBrowser.settings")
django.setup()

from scoping.models import *
from tmv_app.models import *

In [2]:
q = Query.objects.get(pk=7979)

docs = q.doc_set.all()

docs.count()

44881

In [8]:
d.wosarticle.wc

['Education & Educational Research']

In [9]:
dd = []
for d in docs.iterator():
    try:
        dai = d.docauthinst_set.order_by('position').first()
        dd.append({
            "id":d.id,
            "title":d.title,
            "abstract":d.content,
            "wc_category": d.wosarticle.wc,
            "PY": d.PY,
            "firstauthor": dai.AU,
            "firstauthor_instituttion": dai.institution
        })
    except:
        dd.append({
            "id":d.id,
            "title":d.title,
            "abstract":d.content,
            "PY":d.PY,
        })

    
df = pd.DataFrame.from_dict(dd)
df.head()

,PY,abstract,firstauthor,firstauthor_instituttion,id,title,wc_category
0,2017,Adaptation is necessary to cope with or take a...,"Blanco, V","Univ Edinburgh, Inst Geog & Lived Environm, Sc...",761059,The importance of socio-ecological system dyna...,[Environmental Sciences]
1,2013,Both climate extremes and agricultural disaste...,"Tao, FL","Chinese Acad Sci, Inst Geog Sci & Nat Resource...",365430,Changes in rice disasters across China in rece...,[Environmental Sciences; Environmental Studies]
2,2013,Hydrological models have been widely used to a...,"Vansteenkiste, T","Katholieke Univ Leuven, Hydraul Div, BE-3001 L...",453489,Climate change impact on river flows and catch...,[Water Resources]
3,2009,Arguments about the appropriate discount rate ...,"Atkinson, G","Univ London London Sch Econ & Polit Sci, Dept ...",86654,"Siblings, Not Triplets: Social Preferences for...",[Economics]
4,2018,The Regional Approaches to Climate Change for ...,"Roesch-McNally, GE","USDA Northwest Climate Hub, 3200 SW Jefferson ...",1801649,U.S. Inland Pacific Northwest Wheat Farmers' P...,[Environmental Sciences]

In [13]:
df.head()

,PY,abstract,firstauthor,firstauthor_instituttion,id,title,wc_category
0,2017,Adaptation is necessary to cope with or take a...,"Blanco, V","Univ Edinburgh, Inst Geog & Lived Environm, Sc...",761059,The importance of socio-ecological system dyna...,[Environmental Sciences]
1,2013,Both climate extremes and agricultural disaste...,"Tao, FL","Chinese Acad Sci, Inst Geog Sci & Nat Resource...",365430,Changes in rice disasters across China in rece...,[Environmental Sciences; Environmental Studies]
2,2013,Hydrological models have been widely used to a...,"Vansteenkiste, T","Katholieke Univ Leuven, Hydraul Div, BE-3001 L...",453489,Climate change impact on river flows and catch...,[Water Resources]
3,2009,Arguments about the appropriate discount rate ...,"Atkinson, G","Univ London London Sch Econ & Polit Sci, Dept ...",86654,"Siblings, Not Triplets: Social Preferences for...",[Economics]
4,2018,The Regional Approaches to Climate Change for ...,"Roesch-McNally, GE","USDA Northwest Climate Hub, 3200 SW Jefferson ...",1801649,U.S. Inland Pacific Northwest Wheat Farmers' P...,[Environmental Sciences]

In [12]:
df.to_csv("doctables/docs.csv", index=False)

In [11]:
run_id=2674
dts = list(DocTopic.objects.filter(run_id=run_id).values('doc_id','topic_id','score'))
dtdf = pd.DataFrame.from_dict(dts)

dtdf.to_csv(f"doctables/doctopics_{run_id}.csv", index=False)

In [6]:
dtdf.head()

    doc_id     score  topic_id
0   137288  0.001688    200992
1   228555  0.001544    200992
2   696289  0.007532    200992
3   505387  0.013182    200992
4  1285504  0.042043    200992